.tracks-chart-container {
  margin: -6rem auto 0 auto;
  width: 35rem;
}
.artists-chart-container {
  margin: 0 auto 0 auto;
  width: 35rem;
}

.table-dark {
  --bs-table-bg: transparent !important;
  box-shadow: 0 0 2rem -0.25rem #424242;
}

.table-traits {
  max-width: 700px;
  margin: 0 auto 0 auto;
}

.podium-image {
  width: 100%;
  max-width: 700px;
}

.tracks-podium-container {
  margin: 0 auto 0 auto;
  position: relative;
  padding-top: 15rem;
  width: 37rem;
}

.artists-podium-container {
  margin: 0 auto 0 auto;
  position: relative;
  padding-top: 10rem;
  width: 37rem;
}

.stats-container {
  display: grid;
  grid-template-columns: auto;
}

.stat-image {
  width: 3rem;
}

.Podium1 {
  top: 17%;
  left: 35%;
  width: 12rem;
}

.Podium2 {
  top: 38%;
  left: 4%;
  width: 8.5rem;
}

.Podium3 {
  top: 41%;
  left: 74%;
  width: 8rem;
}

.winner {
  transition: box-shadow 1s;
  z-index: 1;
  position: absolute;
}

.Podium1:hover {
  box-shadow: 0 0 1.25rem 0.5rem #f0d331;
}

.Podium2:hover {
  box-shadow: 0 0 1.25rem 0.5rem #555555;
}
.Podium3:hover {
  box-shadow: 0 0 1.25rem 0.5rem #cd7f32;
}

.charts-header {
  height: 15rem;
  width: 100vw;
  display: flex;
}

#chart-gradient {
  height: 120vh;
}

.podium-gradient {
  height: 500px;
}

.chart-header-image {
  width: 10rem;
  height: 10rem;
  border-radius: 0.25rem;
  position: relative;
  top: 15%;
  left: 8%;
}

.stats-chart-header-font {
  font-size: 2.5rem;
  font-weight: bold;
}

.chart-header-text-container {
  margin: 4rem 0 0 12%;
}

.header-font-align {
  text-align: left;
  margin: 0;
}

#redirect-link {
  text-decoration: underline;
}

#redirect-link:hover {
  cursor: pointer;
}

#go-selection {
  background-color: #000000;
  width: 60%;
  border-radius: 2rem;
  height: 20%;
  margin-top: 0.5rem;
}
#go-selection:hover {
  cursor: pointer;
}
#go-selection-font {
  font-weight: 500;
  line-height: 2rem;
}

@media (max-width: 650px) {
  .stats-chart-header-font {
    font-size: 2rem;
  }
  .tracks-chart-container {
    width: 20rem;
  }
  .tracks-podium-container {
    width: 22rem;
  }
  .artists-chart-container {
    width: 20rem;
  }
  .artists-podium-container {
    width: 22rem;
  }

  .Podium1 {
    width: 8rem;
    top: 37%;
    left: 33%;
  }
  .Podium2 {
    width: 5.3rem;
    top: 54.5%;
  }
  .Podium3 {
    width: 5rem;
    top: 57%;
  }
}
@media (max-width: 550px) {
  .charts-subfont {
    font-size: 0.75rem;
  }
  #go-selection {
    height: 15%;
    line-height: 1.5rem;
    margin-right: 30%;
  }
}

@media (max-width: 400px) {
  .stats-chart-header-font {
    font-size: 1.5rem;
  }
}
